{
  "parser": "babel-eslint",
  "extends": "standard",
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
      "jsx": true
    }
  },
  "globals": {},
  "rules": {
    "no-unused-vars": [0, { "varsIgnorePattern": "^h$" }]
  }
}
