/* Default styles */

.autocomplete__wrapper {
  position: relative;
}

.autocomplete__hint,
.autocomplete__input {
  -webkit-appearance: none;
  border: 1px solid;
  border-radius: 0; /* Safari 10 on iOS adds implicit border rounding. */
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin-bottom: 0; /* BUG: Safari 10 on macOS seems to add an implicit margin. */
  width: 100%;
}

.autocomplete__input {
  background-color: transparent;
  position: relative;
}

.autocomplete__hint {
  color: #666;
  position: absolute;
}

.autocomplete__input--default{
  padding-left: 4px;
  padding-right: 4px;
}

.autocomplete__input--focused {
  /* User agent style */
}

.autocomplete__input--show-all-values {
  padding-right: 32px; /* Stop text running into icon */
  cursor: pointer;
}

.autocomplete__dropdown-arrow-down{
  z-index: -1;
  display: inline-block;
  position: absolute;
  right: 10px;
  width: 16px;
  height: 16px;
  top: 8px;
}

.autocomplete__menu {
  background-color: #fff;
  border: 1px solid #000;
  border-top: 0;
  color: #000;
  margin: 0;
  max-height: 342px;
  overflow-x: hidden;
  padding: 0;
  width: 100%;
  width: calc(100% - 2px);
}

.autocomplete__menu--visible {
  display: block;
}

.autocomplete__menu--hidden {
  display: none;
}

.autocomplete__menu--overlay {
  box-shadow: rgba(0, 0, 0, 0.256863) 0px 2px 6px;
  left: 0;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.autocomplete__menu--inline {
  position: relative;
}

.autocomplete__option {
  border-bottom: solid #999;
  border-width: 1px 0;
  cursor: pointer;
  display: block;
  position: relative;
}

.autocomplete__option > * {
  pointer-events: none;
}

.autocomplete__option:first-of-type {
  border-top-width: 0;
}

.autocomplete__option:last-of-type {
  border-bottom-width: 0;
}

.autocomplete__option--odd {
  background-color: #eee;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #000;
  border-color: #000;
  color: white;
  outline: none;
}

.autocomplete__option--no-results {
  background-color: #eee;
  color: #666;
  cursor: not-allowed;
}

.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 0 4px;
}


/* GOV.UK styling overrides */

.autocomplete__hint,
.autocomplete__input {
  font-family: "nta",Arial,sans-serif;
  border: 2px solid;
  height: 40px;
}

.autocomplete__hint {
  color: #BFC1C3;
}

.autocomplete__input--default{
  padding: 5px;
}

.autocomplete__input--focused {
  outline-offset: 0;
  outline: 3px solid #ffbf47;
}

.autocomplete__input--show-all-values {
  padding-right: 32px; /* Stop text running into icon */
}

.autocomplete__dropdown-arrow-down{
  top: 14px;
}

.autocomplete__menu {
  font-family: "nta",Arial,sans-serif;
  border: 2px solid #0B0C0C;
  border-top: 0;
  color: #34384B;
  width: calc(100% - 4px);
}

.autocomplete__option {
  border-bottom: 1px solid #BFC1C3;
}

.autocomplete__option--odd {
  background-color: #FAFAFA;
}

.autocomplete__option--focused,
.autocomplete__option:hover {
  background-color: #005EA5;
  border-color: #005EA5;
}

.autocomplete__option--no-results {
  background-color: #FAFAFA;
  color: #646b6f;
}

/* Small screens */
.autocomplete__hint,
.autocomplete__input,
.autocomplete__option {
  font-size: 16px;
  line-height: 1.25;
}

.autocomplete__hint,
.autocomplete__option {
  padding: 7px 5px; /* Same size as input */
}

/* From medium screens */
@media (min-width: 641px) {
  .autocomplete__hint,
  .autocomplete__input,
  .autocomplete__option {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}
