name: Integration tests

on:
  pull_request:

  push:
    branches:
      - main

  workflow_dispatch:

concurrency:
  group: integration-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  integration:
    name: Build & test
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4.1.7

      - name: Setup Node.js
        uses: actions/setup-node@v4.0.3
        with:
          cache: npm
          node-version-file: .nvmrc

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run browser tests (without Sauce Labs)
        run: npm run wdio
        env:
          SAUCE_ENABLED: false
