name: Cross-browser tests

# Our Sauce Labs account only allows 5 tests to run at a time.
concurrency: saucelabs

on:
  pull_request:

  push:
    branches:
      - main

  workflow_dispatch:

jobs:
  test-saucelabs:
    name: Build & test (with Sauce Labs)
    runs-on: ubuntu-latest
    timeout-minutes: 15

    # Only run tests using Sauce Labs if PR was not raised from a fork.
    if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}

    steps:
      - uses: actions/checkout@v2

      - name: Read node version from .nvmrc
        id: nvm
        run: echo "##[set-output name=NVMRC;]$(cat .nvmrc)"

      - name: "Setup Node v${{ steps.nvm.outputs.NVMRC }}"
        uses: actions/setup-node@v2
        with:
          node-version: "${{ steps.nvm.outputs.NVMRC }}"
          cache: 'npm'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: "Run cross-browser tests (using Sauce Labs)"
        run: npm run wdio:test
        env:
          SAUCE_ENABLED: "true"
          SAUCE_BUILD_NUMBER: "${{ github.run_id }}"
          SAUCE_USERNAME: "${{ secrets.SAUCE_USERNAME }}"
          SAUCE_ACCESS_KEY: "${{ secrets.SAUCE_ACCESS_KEY }}"
